/*============ HERO ============*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url("../assets/images/dream-bucket-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--typography-weight-bold);
    line-height: 1;
}

.hero__text-dream {
    font-size: 4rem;
    font-style: italic;
    color: var(--colours-hero-blue);
}

.hero__text-big {
    font-size: 7.5rem;
    color: var(--colours-white-alpha-75);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .hero__title {
        flex-direction: row;
    }
}

/*============ INTRO TEXT ============*/

.intro-text {
    margin: 3.5rem 0;
}

.intro-text__body {
    font-size: var(--typography-size-lg);
}

@media screen and (min-width: 768px) {
    .intro-text {
        text-align: center;
    }
}
